---
---

@import "{{ site.theme }}";

body {
  background-color: #f9f0ec;
  color: #000;
}

a {
  font-weight: 800;
}

a:hover {
  color: #188582;
  text-decoration: none !important;
  font-weight: 800;
}

